.anchor {
    -fx-background-image: url("../images/background.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-width:100%;
}
.barchart {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}
.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-text-size: 20px;
}
.chart-axis {
    -fx-text-fill: #ffffff;
    -fx-tick-label-fill: #ffffff;
    -fx-padding: 0px 0px 20px 0px;
    -fx-text-transform: uppercase;
    -fx-font-family: "Arial";
            -fx-font-weight: bold;
}
.chart-numbers {
    -fx-text-fill: #e5ff00;
    -fx-tick-label-fill: white;
    -fx-text-size : 14px;
    -fx-font-weight: bold;
}
.chart-plot-background {
    -fx-background-color: rgba(255,248,224,0.8); /* Cambia el color de fondo detrás de las barras a naranja */
}
/* Estilo para las líneas de la gráfica */
.chart-vertical-grid-lines {
    -fx-stroke: #f2ecd8; /* Color de las líneas verticales */
    -fx-stroke-dash-array: none;
    -fx-stroke-width: 1px; /* Ajusta el grosor de las líneas */
}

.chart-horizontal-grid-lines {
    -fx-stroke:white; /* Color de las líneas horizontales */
     -fx-stroke-dash-array: none;
     -fx-stroke-width: 1px; /* Ajusta el grosor de las líneas */
}

.chart-bar {
-fx-background-color: linear-gradient(#880016, #1c2252);
-fx-background-radius:3px 3px 0px 0px;/* Yellow Bar */
}
.chart-bar:hover {
    -fx-background-color: #880016;
}
.buttonbar {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius:10px;
    -fx-text-alignment: center;
    }
    /* Cambiar el color de fondo de la tabla */
    .table-view {
        -fx-background-color: rgba(0,0,0,0.4);
    }

    /* Cambiar el color de fondo de las celdas */
    .table-row-cell {
        -fx-background-color: rgba(255,248,224,0.8);
    }
.nameStyle {
        -fx-font-family: "Arial";
        -fx-font-weight: bold;
        -fx-letter-spacing:1px;
        }
    /* Cambiar el color de fondo de las celdas seleccionadas */
    .table-row-cell:selected {
        -fx-background-color: rgba(11,33,64,0.6);

    }
 .chart-pie-label {
        -fx-font-family: "Arial"; /* Change the font family */
        -fx-font-weight: bold; /* Make the font bold */
        -fx-font-size: 16px; /* Change the font size */
        -fx-fill: #ffcc00; /* Change the color of the labels to red */
        -fx-background-color: black;
        -fx-background-radius:20px;/* Yellow Bar */
    }
